<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>1041583037627-lchsc88avscqtq2if6lih4cihc7krle2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDiCBmySlRCsQrNRT3HXpvgEyuYcefJd3k</string>
	<key>GCM_SENDER_ID</key>
	<string>1041583037627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.telnyx.flutterWebrtc</string>
	<key>PROJECT_ID</key>
	<string>traceit-ae280</string>
	<key>STORAGE_BUCKET</key>
	<string>traceit-ae280.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041583037627:ios:7d2f12363ba2e56ae19d9e</string>
	<key>DATABASE_URL</key>
	<string>https://traceit-ae280.firebaseio.com</string>
</dict>
</plist>